* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

/* html, */
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body::before {
  position: absolute;
  top: 0px;
  left: 105px;
  z-index: -1;
  display: block;
  width: 1142px;
  height: 1400px;
  content: " ";
  background-image: url("../images/image1.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0.6;
}

h2 {
  text-align: center;
}
/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 40px;
  overflow: auto;
}

/* #table-area th:nth-child(2), */

.margin-top-50 {
  margin-top: 50px;

}

/* #glossary-table {
   position: fixed; 
   width: 100%; 
   height: 100px; 
   top: 0; 
   text-align:center; 
   margin-top:0px; 
   margin-bottom:40px;
   background-color: black;
  } */
  /* td {width:25% } */

table {
  margin-top: 30px;
}

.xxx p {
  display: inline;
  background-color: black;
}

th {
  font-size: 20px;
}


/***********************************************************************/
/* media queries which will only be activated at specific screen sizes */
/***********************************************************************/

@media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }

  #table-area tr td:first-child {
    font-size: 1.8em;
    font-weight: bold;
    background: #1b3146;
  }

  #table-area tr td:last-child {
    margin-bottom: 20px;
  }

  #table-area tr td:last-child::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    content: " ";
    background: aliceblue;
  }

  #table-area td {
    font-size: 1.25em;
  }

  #table-area tbody td {
    display: block;
    text-align: center;
  }

  #table-area tbody td::before {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    content: attr(data-th);
  }
}

