html {
    scroll-behavior: smooth;
    height: calc(min(4400px));
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 800px;
    height: 48px;
    max-height: 44px;
    z-index: 9999;
    display: block;
    margin: 0;
    font-size: 17px;
    color: #f5f5f7;
    background: rgba(0, 0, 0, 0.92);
}

.main_image, .chart {
    padding-top: 44px;
    margin: 0;
}

.navi_container {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
    padding-left: calc(max(22px, env(safe-area-inset-left)));
    padding-right: calc(max(22px, env(safe-area-inset-right)));
}

.navi {
    margin: 0px -10px;
    padding: 0px;
    width: auto;
    height: 44px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    user-select: none;
    list-style: none;
}

.link:link, .link:visited {
    color: #f5f5f7;
    opacity: 0.75;
    transition: opacity 0.5s;
    text-decoration: none;
}

.link:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.nav_menu {
    display: inline;
    padding-top: 10px;
}

.main_img_container, .main_str_container, .container_1, .container_2, .container_3, .chart_container_1,
.str_container_1, .chart_container_2, .str_container_2, .chart_container_3, .exp_container_1, .exp_container_2
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh);
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
}

.chart_container_1, .chart_container_2, .chart_container_3{
    background-color: white;
}

.str_container_1, .str_container_2, .exp_container_1, .exp_container_2{
    background-color: transparent;
}

.main_str_container, .container_1, .container_2, .container_3{
    color:  white;
    opacity: 0;
}

.chart_container_2, .chart_container_3{
    display: none;
}

.main_img, .habit_img {
    max-width: 100%;
    height: auto;
    align-items: center;
}

.main_str, .habit_str, .look_str, .str_container_1, .exp_container_1 {
    max-width: 100%;
    text-align: left;
}

.exp_container_2 {
    max-width: 20%;
    text-align: left;
}

.str_container_1, .str_container_2, .exp_container_1, .exp_container_2{
    height: calc(20vh);
    font-size: 30px;
    color: black;
    align-items: flex-end;
}

.exp_container_1 {
    transform: translate(0, 370%);
    opacity: 0;
}

.exp_container_2{
    transform: translate(40%, 220%);
    font-size: 25px;
    opacity: 0;
}

.main_str {
    transform: translate(-50%, -50%);
}

.for_scroll {
    visibility: hidden;
}

.d3-tip {
    padding: 6px;
    font-size: 12px;
    line-height: 1;
    line-height: 1.5em;
    color: #fff;
    text-align: left;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
  }

.stateText {
    font-family: sans-serif;
    fill: #fff;
    text-anchor: middle;
}

.stateCircle {
    fill: yellow;
    stroke: #e3e3e3;
}

