<!-- Load base.html -->
{% extends "base.html" %}
<!-- Redefine title -->
{% block title %}
    Group 5 - More Info
{% endblock %}
<!-- Redefine style -->
{% block style %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/further.css">
{% endblock %}
<!-- Redefine body -->
{% block body %}
    <div class="wrapper">
        <div class="container">
            <div class="row margin-top-50">
                <div class="col-md-12">
                    <p> &emsp; &emsp; &emsp; &emsp; The discovery of exoplanets can bring about many questions and curiosities, 
                        to help satisfy these we present Further Information.&ensp;While our glossary provides links to guide 
                        you on your way down a rabbit hole of research, Further Information is an excellent source of videos to gain 
                        various levels of understanding when it comes to exoplanets and the continuation of the human race.
                        &ensp;The videos are categorized from 1 to 3, where 1 is the least technical and 3 the most.
                        &ensp;At the bottom you will find youtube channels which contain some truly amazing videos that will surely
                        enlighten you to things you may never have considered (if they do not open for you, please cut and paste the 
                        address into a browser window).
                      </p>
                      <p>&emsp; &emsp; &emsp; &emsp;Our hope is that you use some of these links as a starting point to help 
                        further your understanding of this incomprehensible reality we live in known as the universe.&ensp;What 
                        lies beyond our solar system and our galaxy?&ensp;Is there any other life out there?&ensp;Is any of it 
                        intelligent?&ensp;How can we possibly traverse such inconceivable distances to find out?&ensp;
                        The earth will not remain habitable forever and if we wish to persist as a species, we will need to 
                        figure all these things out.
                      </p>
                    <h1> FURTHER INFORMATION </h1>
                    <div id="table-area" class="">
                        <table id="xtable" class="table table-dark table-hover">
                            <thead>
                                <tr>
                                    <th class="table-head">CAT</th>
                                    <th class="table-head">NAME</th>
                                    <th class="table-head">LENGTH</th>
                                    <th class="table-head">DESCRIPTION</th>
                                    <th class="table-head">LINK</th>
                                </tr>     
                            </thead>
                            <tbody></tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- Redefine script -->
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/furtherInterest.js"></script>
{% endblock %}