{% extends "base.html" %}
{% block body %}
      <section class="main_image">
        <div class="main_img_container">
            <img class="main_img" src="https://miro.medium.com/max/7680/1*hvGHw2fnZ3UP8X4otNl7Fw.jpeg" />
        </div>
        <div class="main_str_container">
            <span class="main_str">
                There are hundreds of thousands<br>exoplanets in the universe...
            </span>
        </div>
      </section>
      <section class="chart">
        <div class="container_1">
          <span class="habit_str">
            What Are They
          </span>
        </div>
        <div class="container_2">
            <img class="habit_img" src="static/img/kepler_all-planets_may2016.jpg" />
        </div>
        <div class="container_3">
            <span class="look_str">Let's look into it.</span>
        </div>
      </section>
{% endblock %}
